@charset "utf-8";

/* =======================================

    auth/login CSS
    ログインフォーム

 -----------------------------------------
    INDEX
 -----------------------------------------
    サイトタイトル
    ログインフォーム
    ログイン実行ボタン
========================================== */

/* サイトタイトル
========================================== */
#contents .section #siteTitle {
    text-align: center;
    font-size: xx-large;
    margin-top: 50px;
}

/* ログインフォーム
========================================== */
#contents .sectionForm {
    margin-top: 50px;
    text-align: center;
    font-size: medium;
}

#contents .sectionForm #inputMail {
    margin-bottom: 10px;
}

/* ログイン実行ボタン
========================================== */
#contents .sectionSubmit {
    margin-top: 50px;
    text-align: center;
    font-size: small;
}

#contents .sectionSubmit #inputSubmit {
    margin-bottom: 10px;
}
