@charset "utf-8";

/* =======================================

    contents CSS

 -----------------------------------------
    INDEX
 -----------------------------------------
    1.preview
    2.auth
    3.setting
========================================== */
#contents {
  border: 1px solid black;
  padding: 20px 20px 20px 20px;
}
/* 1.preview /contents/preview.css 参照
========================================== */
/* 2.auth /contents/auth.css 参照
========================================== */
/* 3.auth /contents/setting.css 参照
========================================== */
#contents #name_list {
  float: left;
  width: 50%;
}

#contents #address_detail {
  float: right;
  width: 50%;
}

#contents .clear_address {
  clear: both;
}

